@media (max-width:800px) {
    #collapsibleNavId {
        background-color: #24272f;
    }
}

@media (max-width:480px) {
    .video-text {
        margin-top: 170px;
    }

    .video-text h1 {
        font-size: 70px;
    }

    .video-text p {
        font-size: 16px;
    }
}